[2018-11-03 17:22] magic7s opened #1 "cannot find package "github.com/ciscoecosystem/aci-go-client/client""
aci-go-client repository is not on GitHub.

[code]

[2018-11-06 05:55] nkatarmal-crest commented on #1
@magic7s the client repository is public now. You can clone it from https://github.com/ciscoecosystem/aci-go-client. You need to clone this repository to `$GOPATH/src/github.com/ciscoecosystem.`

[2018-11-08 20:46] #1 closed

[2018-11-27 13:18] dpeachey opened #2 "fvRsBd relationship object for EPG"
Hi,

Thanks for the work on this, I have been testing this provider with some good results so far.

Currently there is no relationship object for ‘fvRsBd’ under the EPG module. Is this something you would be able to add?

Thanks,

Dan

[2018-11-28 15:28] dpeachey opened #3 "Unable to specify numerical filter_entry port values"
Hi,

I am unable to specify numerical filter_entry port values. For example, when creating a 'aci_filter_entry' resource, the following doesn't work:

[code]

Could this be fixed to allow numerical values?

Thanks,

Dan

[2018-11-29 09:03] nkatarmal-crest commented on #2
Hi Dan, the relation you are talking about is not deletable so it's not there in the provider, As terraform should be able to manage all the state of the object it manages.

[2018-11-29 09:09] dpeachey commented on #2
Hi,

Thanks for the response. That makes sense, I will look at other ways of provisioning this (probably ansible).

Thanks,

Dan

[2018-12-03 09:19] dpeachey opened #4 "invalid character '<' looking for beginning of value"
Hi,

I often get this error when running terraform plan or apply:

[code]

It is transient, and if I re-run the command it usually disappears. It also is not always the same resources that the error occurs with.

Thanks,

Dan

[2018-12-04 05:00] nkatarmal-crest commented on #4
That issue is because of request throttling present in the ACI. If you use signature-based authentication than you will not face this error.

[2018-12-04 15:39] dpeachey commented on #2
Hi Nirav,

I seem to be getting build errors:

[code]

Thanks,

Dan

[2018-12-05 05:05] nkatarmal-crest commented on #2
You need to fetch the changes from aci-go-client as well. That will solve your problem.

[2018-12-05 08:51] dpeachey commented on #2
Hi Nirav,

Still the same issue.

[code]

Thanks,

Dan

[2018-12-06 11:19] dpeachey opened #5 "Unable to set multiple values for 'aci_subnet.scope'"
Hi,

I'm unable to set multiple values for 'aci_subnet.scope'. For example, if I try using the following configuration:

[code]

I get the error:

[code]

[public,shared] OR [private,shared] should be a valid configuration.

Thanks,

Dan

[2018-12-06 12:00] nkatarmal-crest commented on #2
I have pushed the changes again. Please pull the changes.

[2018-12-06 12:05] nkatarmal-crest commented on #5
Hi Dan,
You need to provide scope as `"public,shared"`. It will work.

Thanks,
Nirav

[2018-12-06 14:12] dpeachey commented on #2
I've pulled the changes, rebuilt the plugin and now it is working. Thank you.

[2018-12-06 14:12] #2 closed

[2018-12-06 14:12] dpeachey commented on #5
Yes this is working, thank you.

[2018-12-06 14:12] #5 closed

[2018-12-06 14:14] dpeachey commented on #3
Yes this is now working, thanks!

[2018-12-06 14:14] #3 closed

[2018-12-14 07:27] devarshishah3 opened #6 "Examples need to be updated with specific examples"
Relation exmaples have test in the data. Please provide an example with the right dn.id
Applicable to all providers

one of the examples is in aci_epg

  relation_fv_rs_bd            = "testbd_update"
  relation_fv_rs_dom_att       = ["test"]                                            # Relation to infraDomP class. Cardinality - N_TO_M.
  relation_fv_rs_fc_path_att   = ["testfabric"]

[2018-12-17 05:56] nkatarmal-crest commented on #6
Hello Devarshi,

I have updated the examples with respective dn id.

Nirav.

[2018-12-17 19:09] devarshishah3 commented on #6
Nirav,
All the examples and all the fields need to be updated

[2018-12-17 19:12] devarshishah3 commented on #4
I've notice I've got randomly runtime error upon running terraform apply
invalid character '<' looking for beginning of value
then if I run the command again it's fine
**This may be due to some unicode formating in the plugin code**

Using cert based auth already

[2018-12-17 19:26] devarshishah3 opened #7 "Consistent naming needed for relations"
Inconsistent format in defining realtions in reosurces.
One of the examples is
 relation_fv_rs_bd = "my_bd"
but relation_fv_rs_prov          = ["${aci_contract.rs_prov_contract.id}"]

It needs to be consistent

[2018-12-17 21:07] vfiftyfive opened #8 "Update resource documentation with relation arguments"
The current doc under website section does not contain references to relation arguments (in the relation_test branch). We should add that.

[2018-12-18 04:31] nkatarmal-crest commented on #6
I have updated the examples fields with all the resources we are supporting currently. Rest of the relations field contains the Model objects that are currently being not supported by the provider.

[2018-12-18 09:42] nkatarmal-crest commented on #8
Added resource documents to the respective rdocs file.

[2018-12-18 09:42] #8 closed

[2019-01-10 04:36] nkatarmal-crest commented on #7
Added the reference with aci_rest resource.

[2019-01-10 04:36] #7 closed

[2019-01-15 10:09] dpeachey commented on #4
Hi,

I'm having much better results using the '-parallelism=1' argument when running a plan or apply. I do not get this message anymore.

Regards,

Dan

[2019-01-16 05:16] #6 closed

[2019-01-24 13:39] #4 closed

[2019-01-24 13:39] vfiftyfive commented on #4
solved with "parallelism" option

[2019-01-24 13:42] vfiftyfive opened #9 "New resource l3extinstp required"
We need `l3extinstp` resource exposed as both a resource and a data source so that `terraform plan` has an option to not remove external EPG upon running `terraform destroy`.

Nic

[2019-01-24 13:52] vfiftyfive opened #10 "Add proxy option for APIC connection"
http Client should be able to use HTTP(S) proxy environment variable when connecting to APIC. We can use `http.ProxyFromEnvironment` when instantiating the http client.

Nic

[2019-01-26 04:45] devarshishah3 opened #11 "make build fails"
==> Checking that code complies with gofmt requirements...
go install
# github.com/ciscoecosystem/terraform-provider-aci/aci
aci/resource_aci_fvaepg.go:297:13: fvAEPgAttr.Annotation undefined (type models.ApplicationEPGAttributes has no field or method Annotation)
aci/resource_aci_fvaepg.go:300:13: fvAEPgAttr.ExceptionTag undefined (type models.ApplicationEPGAttributes has no field or method Excep

[2019-01-26 04:59] nkatarmal-crest commented on #11
Solved the issue can you please pull the changes from master branch and run the make build again.

[2019-01-26 05:00] nkatarmal-crest commented on #9
Added the mentioned resource with data source.

[2019-01-26 05:00] #9 closed

[2019-01-26 17:31] vfiftyfive opened #12 "New resource: vzAny"
Add new resource and data source: vzAny.

Nic

[2019-01-27 12:13] #11 closed

[2019-01-28 06:35] nkatarmal-crest commented on #12
Added the resource.

[2019-01-28 06:35] #12 closed

[2019-01-28 12:31] nkatarmal-crest commented on #10
Added the proxy option.

[2019-01-29 22:37] devarshishah3 opened #14 "Add state for relationships"
Add state for relationship of objects. Currently it only works for non-relation attributes of an MO

[2019-01-30 14:23] Trois-Six opened #15 "Import not working properly"
Hi,

I have a tenant named CDSTEST, it's a very simple tenant.

In vistore it has the following attributes
* childAction: not set
* descr: not set
* extMngdBy: not set
* lcOwn: local
* modTs: 2017-06-14T07:53:48.083+01:00
* monPolDn: uni/tn-common/monepg-default
* name: CDSTEST
* nameAlias: not set
* ownerKey: not set
* ownerTag: not set
* status: not set  
* uid: 15374

If I import it, I get

[co

[2019-01-31 08:26] vfiftyfive opened #16 "terraform apply should re-reprovision resources deleted manually"
Currently, if resources get manually deleted by the user, running ```terraform apply``` doesn't reconcile the state with the actual infrastructure and generates an error.
 - Example with EPG deleted:

[code]

Users expect resources to be recreated in this case.

[2019-01-31 13:14] nkatarmal-crest commented on #15
Can you please check now?

[2019-01-31 13:22] Trois-Six commented on #15
yes !!

[2019-01-31 13:22] #15 closed

[2019-01-31 13:53] Trois-Six opened #17 "Add way to attach static ports to EPGs"
Hi,

Let say I have a static port with the path "Pod-1/Node-88/eth1/1", i would like to be able to add it statically to an EPG. Could you create resources for that ?

Thank you,

Pierre

[2019-02-01 04:57] #16 closed

[2019-02-01 05:07] nkatarmal-crest commented on #17
Can you please send an example for that?

[2019-02-01 06:06] devarshishah3 commented on #17
Pierre, You can use ACI rest for this ask. We have a limited number of data sources and resources we can upstream to Terraform. If you want, I  can send you the resource offline . But it will not be committed as a part of this branch at this point without further consultation with Hashicorp

[2019-02-01 06:06] #17 closed

[2019-02-07 09:53] wiwa1978 opened #18 "Cannot find package "github.com/hashicorp/terraform/helper/schema"
Trying to build this provider on Mac OSX.

[code]

The build fails because it cannot find package "github.com/ciscoecosystem/aci-go-client/client". To solve I did

[code]

Then I try to run make build again:

[code]

But it fails with the message

Complete error is below for information

[code]

Any idea how to fix this?

[2019-02-07 10:59] wiwa1978 commented on #18
Fixed myself. You have to do:

`go get github.com/hashicorp/terraform`

[2019-02-07 10:59] #18 closed

[2019-02-18 07:13] vfiftyfive opened #19 "no error description thrown when cert doesn't match user"
When using cert based authentication, if username doesn't match certificate, for example:
[code]

error returned by from terraform is as follows (in the following example plan consisted in a single tenant resource provisioned):

[code]

There's no information indicating that it's an authentication issue. Exact description should be thrown.

[2019-03-05 06:56] nkatarmal-crest commented on #19
ACI was not returning error in this case. So i have added a custom error message when username does not match the cert name. I have pushed the changes should be solved.

[2019-03-05 06:56] #19 closed

[2019-03-05 06:57] nkatarmal-crest commented on #14
I have added the code to read the relation object before plan.

[2019-03-06 04:48] #14 closed

[2019-03-08 13:19] vfiftyfive opened #20 "Document how to use dep to resolve dependencies when building the provider"
I had multiple people reaching out because they didn't manage to resolve dependencies (new to Go).
There are 2 solutions: manually use ```go get``` or use ```dep```.
We should document how to use both in the README file.

Nic

[2019-03-12 16:43] wiwa1978 opened #21 "Bind Contracts to EPGs"
We can create contracts using "aci_contract" and this will create a contract under a tenant. But then I want to associate this contract to two EPGs, one being a provider and the other being a consumer.

I'm using the following:

[code]
However this does not bind the contract to the EPG.

Someone can provide help here?

[2019-03-13 08:23] dpeachey commented on #21
Hi,

Use "name" instead of "id", like this:

    resource "aci_application_epg" "EPG_1" {
      application_profile_dn = "${aci_application_profile.AppProfile.id}"
      name                   = "EPG_1"
      description            = "This epg is created by terraform ACI providers"
      relation_fv_rs_prov    = ["${aci_contract.Contract_ICMP.name}"]
    }

    resource "aci_application_epg" "EPG_

[2019-03-13 08:41] wiwa1978 commented on #21
Thanks. I confirm this is working.

Additional question: why is this called 'relation_fv_rs_cons' and not 'provider_contract' or something similar?

[2019-03-13 09:08] dpeachey commented on #21
That's one for Cisco I guess :)

[2019-03-14 21:52] devarshishah3 commented on #21
@wiwa1978, this resource is generated based on the model objects. The object for provider contract is relation_fv_rs_cons.

[2019-03-28 06:55] nkatarmal-crest commented on #20
Updated the readme with how to use dep to install all the dependencies. We are not going to use go-get as we have different branches for cloud-apic resources.

[2019-03-28 06:55] #20 closed

[2019-04-01 22:28] MnrGreg opened #22 "unknown attribute 'annotation' in element 'fvAp'"
Unable to apply annotations to ACI objects. Example below of failure when applying annotation "test" to EPG.

[2019-04-02 04:53] nkatarmal-crest commented on #22
Hello, @MnrGreg

 I am not able to reproduce this issue on my APIC setup. It seems this issue is because of the older code. Can you please pull the latest changes from the master branch and try building your provider again. After that try re-running the terraform again.

Thanks,
Nirav.

[2019-04-02 20:03] MnrGreg commented on #22
Hi @nkatarmal-crest

My goal is to add tags to EPG's. Tags as in the `/api/tag/`. Are these annotation attributes tags or something else?

I've rebased from master but still getting the same result. This time I've simplified a bit by just adding an annotation to the existing Tenant object.

[code]

Application Policy Infrastructure Controller Version: 3.1(2o)

$ terraform version
Terraform v0.11.1

[2019-04-08 08:24] nkatarmal-crest commented on #22
No they are not tags. I think your ACI version is not supporting the annotation. This Provider is tested against the ACI version 4.0 and above.

[2019-04-16 12:44] JockeW-DvL opened #23 "Request: add modules/functions to be able to provision fabric side of ACI"
Right now we can do most of what is needed under Tenant, but i also would like to be able to provision under fabric -> Access Policies, such as:
 * add EPG to vlan mapping under AAEP
 * create new AAEPs
 * create new Interface Policy Groups
 * add port bindings to  Interface Select Profiles
 * etc

Is this something that can be added?

[2019-04-22 21:10] devarshishah3 commented on #23
@JockeW-DvL , yes.

[2019-04-25 05:13] nkatarmal-crest commented on #23
@JockeW-DvL  I have added support for fabric resources to the provider for policy groups, lsservers etc.

[2019-04-25 05:13] #22 closed

[2019-04-25 07:55] JockeW-DvL commented on #23
thanks for the updated provider, it's great but i'm still missing a couple of things, for example:

* add interface selectors to to Leaf interface profile
* ability to add AAEPs
* ability to add EPG to Vlan mapping in AAEP or example of how to add static ports to EPG

[2019-04-30 12:25] karmicgeezer opened #24 "Make build issue"
When running 'make build' I'm getting the following errors:

go install
# github.com/ciscoecosystem/terraform-provider-aci/aci
aci/resource_aci_fcifpol.go:88:69: undefined: models.InterfaceFCPolicy
aci/resource_aci_fcifpol.go:103:46: undefined: models.InterfaceFCPolicy
aci/resource_aci_fvepretpol.go:92:75: undefined: models.EndPointRetentionPolicy
aci/resource_aci_fvepretpol.go:107:55: undefined:

[2019-04-30 12:48] JockeW-DvL commented on #24
you probably need to update the ciscoecosystem/aci-go-client i did and i can compile the terraform provider

[2019-04-30 13:11] karmicgeezer commented on #24
Probably me missing something

go get github.com/ciscoecosystem/aci-go-client - all good
cd $GOPATH/src/github.com/ciscoecosystem/terraform-provider-aci
dep ensure
make build

Same errors.

Many thanks for responding, much appreciated.

[2019-04-30 14:22] JockeW-DvL commented on #24
Make sure you have the aci-go-client installed in $GOPATH/src/github.com/ciscoecosystem/aci-go-client, thats all i've done.

[2019-04-30 14:27] karmicgeezer commented on #24
Yep, it's there:

$ ~/go/src/github.com/ciscoecosystem/aci-go-client
ls
Gopkg.lock LICENSE    client     doc.go     tests
Gopkg.toml README.md  container  models

[2019-05-01 23:27] bill-rich opened #25 "Provider Review"
Hello!

My name is Bill, I'm a member of the Terraform team @ HashiCorp.

I’ve taken a look at the provider here and would like to say great work so far! I do have feedback outlined below that I’d like to see addressed before we move on to the next steps. I’m opening this issues as a sort of checklist for tracking remaining items and discussion. The review was done on the git commit  3fd2e74e6d448

[2019-05-02 08:32] JockeW-DvL opened #26 "relation_fv_rs_bd in EPG and relation_infra_rs_acc_bndl_subgrp in access_port_block doesnt do anything"
When i try and link the EPG to a BD using the relation_fv_rs_bd the BD doesn't get associated to the EPG in ACI simulator 3.2(1m) and 4.1(1i)

the same issue for access_port_block when i try an associate the policygroup via relation_infra_rs_acc_bndl_subgrp

Using terraform 0.11.13 and the latest terraform provider (git pull done today)

Screenshot from ACI Simulator 4.1(1i):
![Screenshot 2019-05-

[2019-05-02 13:17] JockeW-DvL opened #27 "subnet gets destroyed and recreated everytime i run apply even after no change has been done to .tf files"
subnet gets destroyed and recreated everytime i run apply even after no change has been done to config files

This is the output from my initial creation of everything in ACI that i have in my .tf files
[code]
This is the output after doing a second terraform apply without doing any changes in the .tf files.
[code]

[2019-05-03 03:03] nkatarmal-crest commented on #23
@JockeW-DvL I have added required resources.

[2019-05-03 03:38] nkatarmal-crest commented on #27
@JockeW-DvL  You need to use the same value for the name and IP field in the case of the subnet, which will solve the issue.

[2019-05-04 07:14] JockeW-DvL commented on #27
I have tried now tried your suggestion and looked into the terraform.tfstate file after a clean apply of the networks.

In the terraform.tfstate this is how the subnet is written:

[code]

in the terraform.tfstate the name of the subnet doesn't get documented/written, this is probably why the subnet gets destroyed and recreated every time i run the apply command

here are the defenition of the abo

[2019-05-04 07:17] JockeW-DvL commented on #26
As i look into the terraform.tfstate file i can see that the computed values are correct, but the association between EPG and BD doesn't get configured.
[code]

The defenition of the EPG is as follows:

[code]

[2019-05-04 08:24] JockeW-DvL commented on #26
Regarding the issue with access_port_block, here comes some outputs.

the configfile is:
[code]
the terraform.tfstate is:
[code]
and the result in ACI is:
[code]

[2019-05-05 07:28] JockeW-DvL commented on #27
Ive done some more testing now with subnet. if i set the name and ctrl to "" the subnet will NOT be destroyed and created everytime i do a plan and apply.

But everytime i do a plan (after the first implementation of the BDs, EPGs and subnets) i get the following result:

[code]
The .tf file isn't changed between initial implemenation and seconday plan.

[2019-05-05 10:58] karmicgeezer commented on #24
Is there anything else worth trying to get the project to build?

[2019-05-05 11:07] JockeW-DvL commented on #24
for ACI If you is satisfied with building networking stuff:

- Tenants
- EPG
- BD
- Contracts
- etc
i think so.

As you have seen in my other issues there are some issues with using terraform for ACI, but i believe it is worth it because when the provider is working properly it will be really good.

[2019-05-05 11:10] karmicgeezer commented on #24
Sorry, I badly worded the last message. I'm not able to build the project.

Despite having aci-go-client, 'dep ensure' runs with no issue, but make build gives:

 make build
==> Checking that code complies with gofmt requirements...
go install
# github.com/ciscoecosystem/terraform-provider-aci/aci
aci/resource_aci_fcifpol.go:88:69: undefined: models.InterfaceFCPolicy
aci/resource_aci_fcifpol.go:10

[2019-05-05 11:15] JockeW-DvL commented on #24
Aah, OK.

to me it looks like you don't have the latest version of aci-go-client

go to (in cmd or terminal or whatever you are using) ~/go/src/github.com/ciscoecosystem/aci-go-client and  perform a git pull and try again to build the ACI provider. this helped for me. Seems that aci-go-client is uppdated at the same time as the transform provider is.

[2019-05-05 11:17] karmicgeezer commented on #24
The aci-go-client was pulled the same time as the terraform-provider-aci:

$ git pull
-> Already up to date.

[2019-05-05 11:28] JockeW-DvL commented on #24
Sorry then i can't help you

[2019-05-05 11:39] karmicgeezer commented on #24
No worries, thanks for trying.

[2019-05-05 11:39] #24 closed

[2019-05-06 11:48] dpeachey commented on #26
Hi,

You need to use ${aci_bridge_domain.bd1.name} instead of ${aci_bridge_domain.bd1.id}

Regards,

Dan

[2019-05-06 17:27] JockeW-DvL commented on #26
Thanks Dan,

That helped.

[2019-05-07 04:36] #26 closed

[2019-05-07 04:36] #23 closed

[2019-05-07 06:37] JockeW-DvL opened #28 "Issue with relation_infra_rs_acc_bndl_subgrp in access_port_block, nothing is added in ACI"
i've got a issue for access_port_block when i try an associate the policygroup via relation_infra_rs_acc_bndl_subgrp

Using terraform 0.11.13 and the latest terraform provider (git pull done today)

the configfile is:

[code]
the terraform.tfstate is:

[code]
and the result in ACI is:

[code]

[2019-05-10 20:53] devarshishah3 commented on #25
@bill-rich : Regarding "Examples in documentation should include more details beyond just “example” for each argument, should include at least simple examples of resources or data sources the example depends on." Do you want us to have examples for all resources and datatypes in the examples dir ?

[2019-05-10 21:50] nu11ptr opened #29 "aci-go-client dependency locked to old revision"
This prevents the build instructions from working. Simply updating the dependency revision in the lockfile will solve this:

[code]

and then recommit the lockfile

[2019-05-13 05:58] nkatarmal-crest commented on #29
Thanks for catching this i have updated the dependancy version.

[2019-05-13 05:58] #29 closed

[2019-05-14 14:36] Trois-Six opened #30 "Issue with aci_access_port_selector"
Hi,

I declare an access_port_selector resource as:

[code]
When I import it from my fabric, I get:

[code]

whereas, the real name of the interface is Eth1.10. If after the import I try to apply, Terraform wants to destroy/create back the resource.

Terraform version: v0.11.11
ACI Provider version: git20190513.fde7cea

Can you look at it ?

Regards,

Pierre

[2019-05-15 14:26] jgold commented on #17
Please may I see an example of how to create an aci_rest resource for generating an fvRsPathAtt, which I can then reference in the relation_fv_rs_path_att of my EGP resource?
Thanks,
Jonathon

[2019-05-16 05:05] nkatarmal-crest commented on #30
This issue has been addressed. I will release new code soon to fix this issue.

[2019-05-17 14:03] Trois-Six opened #31 "Issue with aci_subnet"
Hi,

The object fvSubnet has got an empty "name" attribute, as you can see in the generated code in https://github.com/ciscoecosystem/terraform-provider-aci/blob/master/aci/resource_aci_fvsubnet.go. or in a download from an APIC:

[code]
but if you don't set a name in the Terraform resource definition, you get an error:
[code]
If you set a name attribute (other than en empty string: ""), the objec

[2019-05-20 05:41] nkatarmal-crest commented on #31
Yes, this attribute will be removed in the upcoming version of the provider. I will be pushing the changes soon. That will solve your issue.

[2019-05-28 11:22] Trois-Six opened #32 "Parallelism != 1"
Hi,

The problem of parallelism different from 1 is not solved.
If I run a plane with a parallelism = 1, terraform sees no change, if I do the same thing without disabling parallelism, the result is not at all the same.
I can send you traces, but in private.

Terraform version: 0.11.14
ACI provider version: git20190522.f5233ba

Pierre

[2019-05-28 11:28] Trois-Six opened #33 "Terraform 0.12"
Hi,

I have a new problem: with Terraform 0.12, my run is blocked and never ends. If I execute terraform with TF_LOG=TRACE I see a lot a lines like

[code]
Regards,

Pierre

[2019-05-28 22:47] devarshishah3 commented on #32
@Trois-Six , can you send me the traces on my cisco email

[2019-05-28 22:48] devarshishah3 commented on #30
Fixed in review branch. This will be merged with master once the changes have been approved by Hashicorp

[2019-05-28 22:48] #30 closed

[2019-05-28 22:51] #21 closed

[2019-05-29 04:45] nkatarmal-crest commented on #33
Hi,

Can you please provide your .tf files that you are using?

Nirav.

[2019-05-29 04:48] nkatarmal-crest commented on #27
Can you please provide the content of terraform.tfstate and your terraform configuration files?

[2019-05-29 08:01] Trois-Six commented on #33
I just sent an email to Devarshi with the traces and tf files.

[2019-05-29 08:01] Trois-Six commented on #32
I just sent an email to you with the traces and tf files.

[2019-05-29 18:02] vfiftyfive commented on #27
Hi,

I see the same problem when trying the apply the same plan without any change.

[code]

[2019-05-30 05:45] nkatarmal-crest commented on #32
Hey,

The issue with parallelism is from ACI side, ACI limits the no. of requests from a machine to some threshold to avoid DOS attack. So if you use parallelism with more than one threads then terraform will be making a lot of API requests in a very small time period, So ACI blocks your requests and that makes Terraform behave unexpectedly.

Nirav.

[2019-05-30 08:43] vfiftyfive opened #34 "Add new objects"
Hi,

Can you please add the following objects?
- l3extLIfP
- l3extLNodeP

Nic

[2019-06-08 18:19] vfiftyfive commented on #32
The problem should not happen when certificate based authentication is used (like with our Ansible module). But apparently it is not the case, this needs investigation.

Nic

[2019-06-08 18:33] vfiftyfive opened #36 "relation_fv requires name, breaking terraform import (forces resource deletion)"
Hi,

Most of `relation_fv_` attributes expect the name of the source, as opposed to id/Dn.
When importing ACI resources to terraform, the terraform state doesn't get populated with the `name` attribute.
As a result, after performing a `terraform plan`, one needs to set the `name` attribute of the imported resource so interpolation can happen.
But because the `name` attribute is empty in the state

[2019-06-09 03:34] nkatarmal-crest commented on #36
@vfiftyfive I tried to reproduce the issue on my environment but i am not able to reproduce it. it seems when you import any resource you should have the resource config empty like
[code]

then import it. After you import the resource successfully add the required parameters to it.

[2019-06-10 05:44] nkatarmal-crest commented on #36
I have pushed the fix to capic branch. If you are using that branch to build the provider please pull the latest changes from it and rebuild the provider again.

[2019-06-10 05:44] #36 closed

[2019-06-10 05:46] nkatarmal-crest commented on #31
This issue has been fixed and changes are pushed in the review branch of the provider as well as the client.

[2019-06-10 05:46] #31 closed

[2019-06-13 04:52] nkatarmal-crest commented on #33
@Trois-Six i have tested the files on terraform 0.12 version i don't see any issue there.

[2019-06-13 09:40] Trois-Six commented on #33
It must be related to the ACI version then...

[2019-06-17 17:14] cgriggs01 commented on #25
I believe this is in regard to having an implementation example for each resource or datasource on the website documentation pages.

[2019-06-17 19:14] devarshishah3 commented on #33
@Trois-Six , which APIC version are you using?

[2019-06-18 20:00] Trois-Six commented on #33
3.0(2)n

[2019-06-26 05:32] nkatarmal-crest commented on #27
This issue is solved and pushed in the review branch of the provider.

[2019-07-01 22:56] bill-rich commented on #25
The changes in the `review` branch look good! It looks like you've got all the issues we discussed covered. The only other item I'd recommend is creating some acceptance tests for the data source. I don't think it is required to move forward since it looks like the data sources are mostly just looking up the resource and then reading in the attributes using the same functions as the resources, but

[2019-07-02 05:29] nkatarmal-crest commented on #25
Thanks, Bill, I will add the required acceptance tests to the provider.

[2019-07-03 05:09] #27 closed

[2019-07-05 07:10] nkatarmal-crest commented on #34
Added required resources to the review branch.

[2019-07-05 07:10] #34 closed

[2019-07-08 05:41] nkatarmal-crest commented on #32
@vfiftyfive  Can you please pull the latest changes from the aci-go-client and the provider on the **review** branch and try running your terraform configuration files again?

Nirav.

[2019-07-09 11:46] nkatarmal-crest commented on #28
Pushed fix for this issue in aci-go-client. please pull the latest changes from it.

[2019-07-09 11:46] #28 closed

[2019-07-10 06:03] nkatarmal-crest commented on #33
@Trois-Six Is the issue still present there?

[2019-07-10 07:16] Trois-Six commented on #33
Hi,
I just tried some minutes ago, and I have a problem with the API breakage in Terraform 0.12. I am using the latest version of the provider, from the "review" branch.
[code]
Pierre

[2019-07-11 04:54] nkatarmal-crest commented on #33
@Trois-Six  This is a Terraform side bug. There is an issue in Terraform repository.https://github.com/hashicorp/terraform/issues/19221.

[2019-07-12 12:59] carrajola commented on #33
Execute the following command:
terraform init -upgrade

[2019-07-15 12:19] psaneem opened #37 "Terraform v0.11.8 aci_l3_ext_subnet produces crash logs"
resource "aci_l3_ext_subnet" "main" {
  name  = "ext_l3_out_subnet"
  external_network_instance_profile_dn  = "${aci_external_network_instance_profile.main.id}"

  ip  = "0.0.0.0/0"

}

I am trying to create an l3 out subnet and whenever i run my TF , terraform crashes out with a crash log file attached it has more granular details but so far seems its failing to parse the 0.0.0.0/0 in the API cal

[2019-07-15 17:30] jgcasd opened #38 "Build failing for terraform provider"
Is this expected behavior? I'm getting the below errors when running make build. Seems to be failing on the recently added L3ExtSubnet resource.

make build
==> Checking that code complies with gofmt requirements...
go install
# github.com/ciscoecosystem/terraform-provider-aci/aci
aci/resource_aci_l3extsubnet.go:84:63: undefined: models.L3ExtSubnet
aci/resource_aci_l3extsubnet.go:90:17: undefined:

[2019-07-16 05:25] nkatarmal-crest commented on #38
Please pull the changes from aci-go-client review branch as well.

[2019-07-17 13:17] arian-saliu commented on #33
@nkatarmal-crest

Hi There. We are experiencing some issues with our Cisco ACI.
Basically when we try to apply more than 10 resources using certificate authentication and with disabled throttling on Cisco ACI, also using parellelism=1 the terraform code runs forever.

For all of our resources we are using counts and at a certain point when more than 10 resources are being created the whole process

[2019-07-17 13:21] arian-saliu opened #39 "Hanging Sessions"
@nkatarmal-crest

Hi There. We are experiencing some issues with our Cisco ACI.
Basically when we try to apply more than 10 resources using certificate authentication and with disabled throttling on Cisco ACI, also using parellelism=1 the terraform code runs forever.

For all of our resources we are using counts and at a certain point when more than 10 resources are being created the whole process

[2019-07-17 14:08] Akshat0694 commented on #39
Same issue!

[2019-07-18 09:07] nkatarmal-crest commented on #33
@arian-saliu I will look into it.

[2019-07-18 09:07] #38 closed

[2019-07-18 09:40] nkatarmal-crest commented on #39
@arian-saliu @Akshat0694 I will look into it.

[2019-07-19 16:36] psaneem opened #41 "Are terraform resources for creating Fabric Domains ( Physical/Routed Domains)?"
Just trying to quickly find out if there is a resource i can leverage for creating the domains or i would just need to make an API call for that ?

[2019-07-20 04:17] nkatarmal-crest commented on #41
@psaneem Can you please help me with the MO name so that I can guide you to the resource for that or else I can add them.

[2019-07-23 19:53] psaneem commented on #41
Is this the path you need  @nkatarmal-crest  url: https://x.x.x.x.x/api/node/mo/uni/phys ??

[2019-07-24 02:56] nkatarmal-crest commented on #41
Yes please.

[2019-07-29 04:33] nkatarmal-crest commented on #33
This issue is fixed and there is separate issue opened for #39. Closing this one.

[2019-07-29 04:33] #33 closed

[2019-07-30 15:47] jgcasd opened #42 "fvAEPg resource relations"
Do you have any examples of how to override the default parameters when specifying relations?

For example, the resource "aci_application_epg" specifies it allows relation arguments for:

relation_fv_rs_path_att

This looks like it only accepts a string. How do I pass in the VLAN, trunking mode, deployment immediacy, etc?

Same for something like:

relation_fv_rs_dom_att

I have a need to specify

[2019-07-30 19:19] jgcasd commented on #37
This resource is crashing for me as well. It's listed as an available resource on https://www.terraform.io/docs/providers/aci/d/l3extsubnet.html but seems like it's not actually usable.

[2019-07-31 17:17] jgcasd opened #43 "aci_filter erroneous modifications"
Whenever I run terraform apply for the aci_filter resources it keeps trying to modify these 2 parameters:

aci_filter.udp_123: Modifying... (ID: uni/tn-tf_test/flt-udp_123)
  relation_vz_rs_fwd_r_flt_p_att: "{}" => ""
  relation_vz_rs_rev_r_flt_p_att: "{}" => ""

Here is the content of my resource, I'm not specifying those parameters at all:
[code]

root@ece0b58da847:~# terraform --version
Terrafo

[2019-08-02 18:40] jgcasd opened #44 "aci_leaf_access_port_policy_group AEP issues"
Relating an AEP to the Access Port Policy Group (and VPC Port Policy Group) looks to be broken. At least, it's not properly relating when I run it.

A brief look at the code seems that you're specifying the wrong attribute names for this one:

This is what the JSON for a properly attached AEP looks like:
[code]

In your aci-go-client code it looks different though.

In this file:
[code]

In this f

[2019-08-07 23:10] devarshishah3 commented on #42
right now the provider just builds teh relationship to the domain. One way of specifying the resoultion immediacy and other parameters is to use aci_rest.
It would be on the lines of:

resource "aci_rest" "epgdomainrelationattr" {
  path       = "uni/tn-99_Customer01/ap-app-test/epg-kafka-epg/rsdomAtt-[uni/vmmp-VMware/dom-test2].json"
  class_name = "fvRsDomAtt"

  content = {
    "dn"   = "uni/tn

[2019-08-07 23:16] devarshishah3 commented on #44
@jgcasd , do have a few mins to chat about this over webex/call?

[2019-08-07 23:19] devarshishah3 commented on #41
@psaneem , can you please give the class and MO of the fabric resource you want. If its not present, we can build and add it on the repo. In the meanwhile , you can use  resource "aci_rest"

[2019-08-07 23:23] devarshishah3 commented on #37
@psaneem , @jgcasd can you please attach the log file here or email it to devarsha@cisco.com

[2019-08-08 07:11] nkatarmal-crest commented on #44
I have fixed this issue and pushed the changes to the review branch.

[2019-08-08 07:11] #44 closed

[2019-08-08 12:28] soumik612 commented on #37
I came across the same error. TF crashes when I try to apply the aci_l3_ext_subnet resource.
I have attached the crash logs for your reference.
[l3subnet_crashlog.txt](https://github.com/ciscoecosystem/terraform-provider-aci/files/3481680/l3subnet_crashlog.txt)

[2019-09-02 05:38] #25 closed

[2019-09-02 05:39] #42 closed

[2019-09-04 05:08] nkatarmal-crest commented on #37
I have fixed this issue. Please pull the latest changes from the review branch of the provider.

[2019-09-04 05:08] #37 closed

[2019-09-04 06:53] nkatarmal-crest commented on #43
This issue has been fixed. Please pull the changes from review branch.

[2019-09-04 06:53] #43 closed

[2019-10-17 13:50] robinverstraelen opened #45 "Request: link BD to vrf"
Right now, you can't link a bridge domain to a VRF. Can this be added?

[2019-10-17 15:28] #45 closed

[2019-10-18 10:51] dpeachey opened #46 "EPG import"
Hi,

When I import an EPG to the Terraform state, I miss all the "relation_fv_rs_*" attributes. Also, I noticed that there is nothing in "depends_on" attribute so I miss the dependencies to application profile and contracts.

Is this expected behaviour when importing EPG?

Thanks,

Dan

[2019-10-18 13:15] JockeW-DvL opened #47 "Issues with creating stuff in ACI"
I'm having issues with creating subnets & epgs in ACI Simulator 4.2(2e), always one subnet get stuck in creating (see below).

I'm running terraform 0.12.10 and the review branch of terraform-provider-aci.
[code]

If i look in ACI GUI the subnet is actually created.
![Screenshot 2019-10-18 at 15 07 37](https://user-images.githubusercontent.com/33254172/67097066-a9b58480-f1b9-11e9-903c-523539615681

[2019-10-24 02:58] devarshishah3 commented on #46
Yes, for importing dependencies you will need to import them separately. I am working on a fix for importing relations.

[2019-10-24 03:00] devarshishah3 commented on #47
Hi @JockeW-DvL  Can you please try using the official Terraform ACI provider which has been released by Hashicorp and see if the issue is still there or not? You will need to remove this provider binary and need to run Terraform init in order to download the official release.

[2019-10-24 13:43] JockeW-DvL commented on #47
i have now tried the offical terraform aci provider and i get stuck on the first subnet to be created. terraform says still creating but inx the GUI i can see that the subnet is created.
If i break tarraform and rerun terrafrom apply all the subnet is created but I also get stuck on creating EPGs.
![Screenshot 2019-10-24 at 15 40 08](https://user-images.githubusercontent.com/33254172/67491084-9d77

[2019-10-29 16:14] dpeachey opened #48 "EPG and contract description not updated"
Hi,

I've hit an issue where I'm trying to update descriptions on previously provisioned EPG and contract resources but it does not seem to be working. When running a Terraform apply it appears to work and I hit no errors, but when I run a plan again it shows that the same descriptions will be changed again. When I check on ACI, the descriptions haven't been changed.

Thanks,

Dan

[2019-10-31 15:23] dpeachey commented on #48
The issue is on my side with config.

[2019-10-31 15:23] #48 closed

[2019-11-08 14:23] devarshishah3 commented on #47
I have fixed a push to the review branch. Please pull the latest changes from it. Also, you can use the official ACI provider which is published by Hashicorp. Both providers are on the same page.

[2019-11-08 14:23] #47 closed

[2019-11-21 15:11] kecorbin opened #49 "Inconsistent Behavior using this provider on Windows"
Using this provider on windows I've experienced some issues against multiple ACI fabrics with a known good code base (from Linux/Mac)

The most recent issue I've found is that when provisioning resources from the TF config [here](https://github.com/kecorbin/terraform-aci-demo) the resources actually get provisioned, but the creation is never completed in the TF run after hours of apply time

[code

[2019-11-25 04:17] francesco-supporlan opened #50 "terraform 0.12.16 and aci provide 0.1.2"
Hi

When building a tf file with few resources (31 in my example file), at some point, creation is stuck and getting the message Still creating... [1m10s elapsed] forever.

Tried in macOS and CentOS and same issue.

Thanks for your help

[2019-11-27 05:39] camrossi opened #51 "rest_api example wrong path"
In the example code is show that the path is
 path       = "api/node/mo/${aci_tenant.tenant_for_rest_example.id}/out-test_ext.json"

However the correct syntax is
 path       = "/api/node/mo/${aci_tenant.tenant_for_rest_example.id}/out-test_ext.json"

There is a missing / at the beginning.

[2019-11-28 10:22] devarshishah3 commented on #50
Hey, @francesco-supporlan Can you please attach your .tf files without secrets to the issue? I want to test the same in my dev environment to resolve this issue.

[2019-11-28 14:23] francesco-supporlan commented on #50
Here are the 3 files used. They are generated using jinja2.

[Archive.zip](https://github.com/ciscoecosystem/terraform-provider-aci/files/3902071/Archive.zip)

[2019-11-29 10:19] devarshishah3 commented on #50
This is more of the Terraform + ACI issue rather than the provider issue. The root cause here is while creating a resource ACI returns the 405 error due to API rate limiting, Terraform doesn't find anything created and treats it as a null resource and fails to exit the process. There are lot of issues opened for this behavior on the Terraform repo and they are working on it. Meanwhile, I will try

[2019-11-29 10:20] devarshishah3 commented on #49
This is the same issue as #50 . Closing this one. The root cause for both the issue is same.

[2019-11-29 10:20] #49 closed

[2019-12-04 04:51] camrossi commented on #50
@devarshishah3  I do not think this is the case:

I disabled rate limiting on my APIC and I still get the same 405 error.

I checked a bit more in depth and I realise that apparently APIC always send back a 405 for every GET request coming from Terraform ACI plugin. (only terraform plugin)

Checking why I realised that all Terraforms GET request have a body length of 2 with a "{}" in the Payload.

[2019-12-10 19:28] #39 closed

[2019-12-10 19:34] #32 closed

[2019-12-24 03:22] nkatarmal-crest commented on #50
The above issue has been resolved. Please pull the latest code from the review branch of the repository or else use version 0.1.4. of the official provider.

[2019-12-24 03:22] #50 closed

[2020-01-22 13:24] JockeW-DvL opened #52 "remote error: tls: handshake failure on ACI version 4.2(x) not on ACI version 3.2(x)"
I'm using terraform version v0.12.19 and ACI provider version v0.1.4 and certificate to authenticate. i'm getting the same issues on both MacOS Catalina and Ubuntu 19.10.

I'm getting the following errors when trying to provision in ACI ver 4.2(x).
"Error: Post https://172.27.50.242/api/node/mo.json: remote error: tls: handshake failure

  on tenant.tf line 1, in resource "aci_tenant" "Test":
   1

[2020-01-25 09:59] devarshishah3 commented on #52
There are TLS changes in the new release of the ACI, which is causing the TLS failure. I have updated the provider to use new cipher suites, this error should be resolved now.

[2020-01-27 05:19] jhamill108433 opened #53 "Get the fuck outta my shit"
Get out of my phone!

[2020-02-03 08:08] JockeW-DvL commented on #52
Thanks @devarshishah3 , i have now verified this and it works perfectly.

[2020-02-03 08:09] #52 closed

[2020-02-05 22:28] rcisaac opened #54 "Plugin version: 4, Client versions: [5]"
Running ACI 4.2(3l) getting a provider error:
Error: Failed to instantiate provider "aci" to obtain schema: Incompatible API version with plugin. Plugin version: 4, Client versions: [5]
Is this an ACI version issue?

[2020-02-06 05:29] nkatarmal-crest commented on #54
Try running this command : terraform init -upgrade

[2020-02-06 05:29] #53 closed

[2020-02-06 05:31] nkatarmal-crest commented on #53
@jhamill108433 You can not use such languages on the official repository of Cisco INC. This is a violation of our policies and not professional behavior. Strict disciplinary actions can be taken against you .

CC: @aciguru

[2020-02-07 18:56] rcisaac commented on #54
Thanks for the suggestion, but I see the same error.

[2020-02-10 09:15] nkatarmal-crest commented on #54
@rcisaac  what is your terraform version?

[2020-02-10 11:23] HQDeveloper opened #55 "FEX Profiles"
Hi there. Are they any plans to allow the creation of FEX Profiles though Terraform? Thanks! :)

[2020-02-10 21:44] rcisaac commented on #54
$ terraform -v
Terraform v0.12.20

[2020-02-13 08:26] nkatarmal-crest commented on #54
@rcisaac Can try removing .terrafrom directory from where you are running the terraform files?

[2020-02-18 10:44] waseem-h commented on #42
I've tried creating the relation between vmm_domain and EPG using the aci_rest resource. It works fine on the 1st apply. But when I do a terraform deploy again, it modifies the EPG and the vmm_domain connection gets removed. I've also tried specifying a relation in the EPG alongwith the aci_rest resource for updating, but the aci_rest call fails saying that the vmm_domain already exists

[code]

I

[2020-02-18 15:37] rcisaac commented on #54
@nkatarmal-crest thanks for continuing to follow up on this issue.  I'm not looking to implement this myself anymore, but happy to continue working on this if this helps identify an issue for others.
With removing the .terraform directory I am still seeing the same error:

[localadmin@linux-jump bin]$ rm -rf .terraform
[localadmin@linux-jump bin]$ terraform init -upgrade

Initializing the backend.

[2020-02-26 16:42] yannickvranckx opened #56 "Leaf Selectors"
Hello,

I see that there are resources to create leaf profiles, but not for leaf selectors. Is this expected or to be added at a later date?

[2020-02-26 23:48] devarshishah3 commented on #56
@yannickvranckx , what are the classes for leaf selector?
Infra:NodeGrp ?

[2020-02-26 23:50] devarshishah3 commented on #55
@HQDeveloper , can you please specify the list of classes for FEX Profiles

[2020-02-27 08:04] yannickvranckx commented on #56
@devarshishah3

Yes something like this:

resource "aci_rest" "leafselector1" {
    path = "api/node/mo/uni/infra/nprof-${var.aci_leaf_profile1}.json"
    class_name = "infraNodeBlk"

    content = {
        "dn" = "uni/infra/nprof-${var.aci_leaf_profile1}/leaves-${var.leafsel1}-typ-range/nodeblk-${var.leafsel1}"
        "from_" = "101"
        "to_" = "101"
        "name" = "${var.leafsel1}"

[2020-03-03 15:40] JBaptisme33 opened #58 "aci_logical_node_profile relations attributes"
Hello team,

Thanks for your hard work.

We are facing issue regarding applicable attributes to an L3Out Node profile.
Indeed, relation_l3ext_rs_node_l3_out_att argument seem have missing parameters.
When adding a node to a profil, two parameters are mandatory:
- Node ID
- Router ID

Node ID (tDn) can be sent, but Router ID (rtrId) can't be sent to APIC.
Is there a way to add a node to L3Out Profi

[2020-03-04 12:27] HQDeveloper commented on #55
Hi there. It would just be the infraFexP that would good. The Leaf Interface Profiles don't seem to have any issues attaching themselves to an existing FEX Profile. Thanks!

[2020-03-05 13:25] JBaptisme33 opened #59 "aci_rest refresh state issue ?"
Hello dear team,

We are trying to apply modification over aci_rest ressource.
When applying for the first time ressource, we have no issue. Since ressource does no exist locally and remotely, ressource is created and "applied" to tfstate file.

`resource "aci_rest" "lnodep-interco_OSPF_checkpoint-1" {
	path = "api/node/mo/${aci_logical_node_profile.interco_OSPF_checkpoint-1.id}/rsnodeL3OutAtt-[to

[2020-03-10 23:16] aciguru commented on #41
TER-2 #comment adding this issue to Cisco JIRA #in-progress

[2020-03-11 09:26] dpeachey commented on #46
Hi,

Did you make any progress on this?

Thanks,

Dan